@use "../presets" as *;
@use "../mixins" as *;

.affiliates {

  &__item-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 140px 40px;
    // gap: 46px;

    @include ul {
      padding: 0 0 100px 0;

    }

    @include xl {
      padding: 0 0 38px 0;

    }
  }

  &__title-box {
    display: flex;
    justify-content: space-between;
    padding: 88px 0 78px 0;
    gap: $gap-xl;
    align-items: center;

    @include ul {
      padding: 60px 0;

    }

    @include xl {
      padding: 34px 0 28px 0;
    }
  }


  &__title {
    font-weight: $font-weight-400;
    font-size: $font-size-54;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-black;


    @include xl {
      font-size: $font-size-24;
    }

  }

  &__arrow-box {
    // position: relative;
    display: flex;
    gap: 88px;
    // width: 220px;

    @include ul {
      gap: 44px;
      // width: 180px;
    }

    @include xl {
      gap: 24px;
      // width: 162px;
      // position: relative;
      // top: -10px;
    }

  }

  &__arrow-right {
    width: 58px;

    @include md {
      // width: 30px;
    }
  }

  &__arrow-left {
    // position: absolute;
    width: 58px;
    // opacity: 0.4;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    // margin-right: 88px;
    @include md {
      // width: 30px;
    }
  }




  &__item-title {
    font-weight: $font-weight-400;
    font-size: $font-size-24;
    line-height: 160%;
    color: $color-black;
    margin-bottom: 20px;

    @include xl {
      font-size: $font-size-14;
    }

  }

  &__item-link {
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: 160%;
    text-decoration-line: underline;
    color: $color-black;

    @include xl {
      font-size: $font-size-14;
    }
  }
}

.swiper {
  // width: 600px;
  // height: 450px;
}

.swiper3 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}


// .swiper-button-prev::after {
//   background-image: url(../img/arrow.svg);
//   background-repeat: no-repeat;
//   background-size: 100%;
//   color: red;
// }