@use "../presets" as *;
@use "../mixins" as *;

.affiliates {
  &__item-wrap {
    display: flex;
    justify-content: space-between;

    padding: 0 40px 140px 40px;

    @include ul {
      padding: 0 0 100px 0;
    }
    @include xl {
      padding: 0 0 38px 0;
    }
    @include sm {
      padding: 0 0 16px 0;
    }
  }

  &__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 88px 0 78px 0;

    gap: $gap-xl;
    @include ul {
      padding: 60px 0;
    }
    @include xl {
      padding: 34px 0 28px 0;
    }
    @include md {
      padding: 42px 0 30px 0;
    }
    @include sm {
      padding: 20px 0;

      gap: 0;
    }
  }


  &__title {
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $color-black;

    font-size: $font-size-54;
    font-weight: $font-weight-400;
    line-height: 120%;

    @include xl {
      font-size: $font-size-24;
    }
    @include sm {
      font-size: $font-size-20;
    }
  }

  &__arrow-box {
    display: flex;

    gap: 88px;
    @include ul {
      gap: 44px;
    }
    @include xl {
      gap: 24px;
    }
    @include md {
      gap: 30px;
    }
  }

  &__arrow-left {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__item-title {
    margin-bottom: 20px;

    color: $color-black;

    font-size: $font-size-22;
    font-weight: $font-weight-400;
    line-height: 160%;

    @include xl {
      font-size: $font-size-14;
    }
  }

  &__item-link {
    transition: all 0.6s ease 0s;

    color: $color-black;

    font-size: $font-size-16;
    font-weight: $font-weight-400;
    line-height: 160%;

    @include xl {
      font-size: $font-size-14;
    }
    text-decoration-line: underline;

    &:hover {
      color: #b97a03;
    }
  }
}

.arrow {
  width: 58px;

  @include md {
    display: none;
  }

  &--sm {
    width: 30px;

    @include md-min {
      display: none;
    }
    @include md {
      display: block;
    }
  }
}
