@use "../presets" as *;
@use "../mixins" as *;

.commissions {
  &__title {
    margin-right: auto;
    margin-left: auto;
    padding: 100px 0 86px 0;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $color-black;

    font-size: $font-size-54;
    font-weight: $font-weight-400;
    line-height: 120%;

    @include md {
      padding: 40px 0 28px 0;
    }
    @include sm {
      padding: 40px 0 20px 0;
    }

    @media (max-width: 1850px) {
      padding: 70px 0 40px 0;
    }

    @media (max-width:1350px) {
      padding: 40px 0 20px 0;

      font-size: $font-size-24;
    }
  }

  &__wrap {
    display: grid;
    align-items: center;

    padding-bottom: 100px;

    gap: $gap-xl;
    grid-template-columns: repeat(4, 1fr);
    @include md {
      gap: $gap;
    }
    @include sm {
      display: none;
    }

    @media (max-width: 1850px) {
      padding-bottom: 70px;
    }

    @media (max-width: 1350px) {
      padding-bottom: 40px;

      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__slider {
    overflow-x: hidden;

    @include sm-min {
      display: none;
    }
    @include sm {
      padding-bottom: 38px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    min-height: 278px;
    padding: 40px 20px 40px 40px;

    border: 1px solid #bcbcbc;
    border-radius: 45px;

    @include md {
      min-height: 169px;
      padding: 20px 20px 28px 28px;

      gap: 26px;
    }
    @include sm {
      padding: 34px 28px 30px 30px;
    }

    @media (min-width:1850px) {
      justify-content: space-between;
    }

    @media (max-width:1850px) {
      min-height: 193px;
      padding: 26px;

      border-radius: 32px;

      gap: 22px;
    }

    @media (max-width: 1350px) {
      padding: 40px;
    }

    &--bg {
      background: linear-gradient(120.71deg, #e3c6ad 5.99%, #6dbc51 94.4%);
    }
  }

  &__desc {
    font-size: $font-size-96;
    font-weight: $font-weight-500;
    line-height: 120%;

    @include sm {
      font-size: $font-size-50;
    }

    @media (max-width: 1850px) {
      font-size: $font-size-60;
      line-height: 120%;
    }


    span {
      opacity: 0.5;

      font-size: $font-size-18;

      @media (max-width: 1850px) {
        font-size: $font-size-14;
        line-height: 120%;
      }
    }
  }

  &__footer {
    color: $color-black;

    font-size: $font-size-24;
    font-weight: $font-weight-700;
    line-height: 120%;

    @media (max-width:1850px) {
      font-size: $font-size-16;
    }
  }
}

.swiper-pagination2 {
  margin-top: -20px;

  text-align: center;
}
