@use "../presets" as *;
@use "../mixins" as *;

.commissions {

  &__title {
    font-weight: $font-weight-400;
    font-size: $font-size-54;
    line-height: 120%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-black;
    padding: 100px 0 86px 0;

    @media (max-width: 1850px) {
      padding: 70px 0 40px 0;
    }

    @media (max-width:1350px) {
      font-size: $font-size-24;
      padding: 40px 0 20px 0;

    }

    @include md {
      padding: 40px 0 28px 0;

    }

    @include sm {
      padding: 40px 0 20px 0;
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap-xl;
    padding-bottom: 100px;
    align-items: center;

    @media (max-width: 1850px) {
      padding-bottom: 70px;
    }

    @media (max-width: 1350px) {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 40px;
    }

    @include md {
      gap: $gap;
    }

    @include sm {
      display: none;
    }

  }

  &__slider {
    overflow-x: hidden;

    @include sm-min {
      display: none;
    }

    @include sm {
      padding-bottom: 38px;
    }
  }

  &__item {
    padding: 40px;
    border: 1px solid #BCBCBC;
    border-radius: 45px;
    min-height: 278px;
    display: flex;
    flex-direction: column;

    @media (min-width:1850px) {
      justify-content: space-between;

    }

    @media (max-width:1850px) {
      min-height: 193px;
      padding: 26px;
      gap: 22px;
      border-radius: 32px;
    }

    @media (max-width: 1350px) {
      padding: 40px;
    }

    @include md {
      min-height: 169px;
      padding: 20px 28px 28px 28px;
      gap: 26px;

    }

    @include sm {
      padding: 34px 28px 30px 30px;
    }

    &--bg {
      background: linear-gradient(120.71deg, #E3C6AD 5.99%, #6DBC51 94.4%);
    }

  }

  &__desc {
    font-weight: $font-weight-500;
    font-size: $font-size-96;
    line-height: 120%;

    @media (max-width: 1850px) {
      font-size: $font-size-60;
      line-height: 120%;
    }

    @include sm {
      font-size: $font-size-50;
    }


    span {
      font-size: $font-size-18;
      opacity: 0.5;

      @media (max-width: 1850px) {
        font-size: $font-size-14;
        line-height: 120%;
      }
    }
  }

  &__footer {
    font-weight: $font-weight-700;
    font-size: $font-size-24;
    line-height: 120%;

    color: $color-black;

    @media (max-width:1850px) {
      font-size: $font-size-16;
    }
  }
}

.swiper-pagination2 {
  text-align: center;
  margin-top: -20px;
}