@use "../presets" as *;
@use "../mixins" as *;

.experience-boho {
  background: #E3C6AD;

  &__wrap {
    display: flex;
    gap: 180px;
    padding: 90px 0;

    @include ul {
      padding: 50px 0 34px 0;
      gap: 100px;
    }
  }

  &__info {
    max-width: 585px;

    padding-top: 50px;

    @include ul {
      max-width: 452px;
      padding-top: 0;
    }

  }

  &__title {
    font-weight: $font-weight-700;
    font-size: $font-size-36;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.46em;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 36px;

    @include ul {
      font-size: $font-size-24;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }

  &__desc {
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: 150%;
    color: $color-black;
    margin-bottom: 36px;

    @include ul {
      font-size: $font-size-16;
      margin-bottom: 20px;
    }
  }

  &__box {}

  &__img-box {
    width: 100px;
  }

  &__img {
    height: 700px;

    @include ul {
      height: 540px;
    }
  }
}