@use "../presets" as *;
@use "../mixins" as *;

.experience-slots {
  background: #000917;

  &__wrap {
    display: flex;

    padding: 120px 0 72px 0;

    gap: 104px;
    @include ul {
      padding: 50px 0;

      gap: 90px;
    }
    @include sm {
      padding: 44px 0 14px 0;

      gap: 32px;
    }

    @media (max-width: 1350px) {
      padding: 74px 0;
    }


    @media (max-width: 920px) {
      flex-direction: column;

      padding: 112px 0 10px 0;

      gap: 66px;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    margin-bottom: 36px;

    letter-spacing: 0.46em;
    text-transform: uppercase;

    color: $color-white;

    font-size: $font-size-36;
    font-weight: $font-weight-700;
    line-height: 120%;

    @include ul {
      margin-bottom: 20px;

      font-size: $font-size-24;
      line-height: 120%;
    }
    @include xl {
      margin-bottom: 10px;

      font-size: $font-size-20;
    }


    @media (max-width: 920px) {
      justify-content: center;

      text-align: center;
    }
  }

  &__desc {
    margin-bottom: 36px;

    color: $color-white;

    font-size: $font-size-18;
    font-weight: $font-weight-400;
    line-height: 150%;

    @include ul {
      margin-bottom: 20px;

      font-size: $font-size-16;
    }
    @include xl {
      margin-bottom: 30px;

      font-size: $font-size-14;
    }
    @include sm {
      margin-bottom: 24px;
      padding: 0;
    }

    @media (max-width: 920px) {
      margin-right: auto;
      margin-bottom: 40px;
      margin-left: auto;
      padding: 0 40px;

      text-align: center;
    }
  }

  &__img-box {
    position: relative;
    z-index: 0;

    @include ul-min {
      margin-left: 60px;
    }
    @include ul {
      margin-top: 28px;
    }

    @media (max-width: 1350px) {
      margin-top: 80px;
      margin-left: -180px;
    }


    @media (max-width: 920px) {
      max-width: 546px;
      margin-top: 0;
      margin-right: auto;
      margin-left: auto;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: 100px;
      left: -150px;

      width: 506.86px;
      height: 649.01px;

      content: "";
      transform: rotate(-20.71deg);

      opacity: 0.2;
      background: #f185fb;

      filter: blur(127.5px);
      @include ul {
        top: 60px;
        left: -100px;

        width: 352px;
        height: 452px;
      }
      @include sm {
        top: -36px;
        left: -110px;

        width: 218.3px;
        height: 279.52px;

        filter: blur(58.9644px);
      }

      @media (max-width:1350px) {
        top: -50px;
        left: 50px;

        filter: blur(93.3119px);
      }

      @media (max-width:920px) {
        top: -60px;
        left: -150px;
      }
    }

    &::before {
      position: absolute;
      z-index: -1;
      top: 200px;
      right: -270px;

      width: 772px;
      height: 504px;

      content: "";
      transform: rotate(-22.48deg);

      opacity: 0.2;
      background: #f185fb;

      filter: blur(127.5px);
      @include ul {
        top: 190px;
        right: -170px;

        width: 538px;
        height: 352px;
      }
      @include sm {
        top: 10px;
        right: -154px;

        width: 332.08px;
        height: 217.06px;

        filter: blur(58.9644px);
      }

      @media (max-width:1350px) {
        top: 100px;
        right: -300px;

        filter: blur(93.3119px);
      }

      @media (max-width:920px) {
        top: 60px;
        right: -260px;
      }
    }
  }

  &__img {
    @include ul {
      max-width: 750px;
    }

    @media (max-width: 1350px) {
      max-width: 660px;
    }

    @media (max-width: 920px) {
      width: 100%;
    }
  }
}
