@use "../presets" as *;
@use "../mixins" as *;

.experience {

  @include md {
    display: flex;
    justify-content: space-between;
  }

  @include sm {
    flex-direction: column;
  }

  &__list {
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: 200%;
    color: $color-black;
    margin-bottom: 36px;
    margin-left: 28px;

    @include ul {
      font-size: $font-size-16;
      margin-bottom: 20px;
    }

    @include xl {
      font-size: $font-size-14;
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 14px;
      margin-left: 22px;
    }
  }

  &__item {}


  &__country {}

  &__country-box {
    max-width: 310px;
    display: flex;
    flex-wrap: wrap;
    gap: $gap-md;
    margin-bottom: 50px;

    @include ul {
      margin-bottom: 30px;
    }

    @include sm {
      margin-bottom: 18px;
    }
  }

  &__title {
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: 150%;
    margin-bottom: 15px;

    @include ul {
      font-size: $font-size-16;
    }

    @include xl {
      font-size: $font-size-14;
    }
  }

  &__country-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 29px;
    background: $color-black;
    border-radius: 14px;
    font-weight: $font-weight-700;
    font-size: $font-size-14;
    line-height: 150%;
    color: $color-white;

    @include sm {
      width: 43px;
    }
  }

  &__link {
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: 200%;
    text-decoration-line: underline;

    @include xl {
      font-size: $font-size-14;
    }

    &--pc {
      @include md {
        display: none;
      }

      @include sm {
        display: block;
      }
    }

    &--mobile {

      @include md-min {
        display: none;
      }

      @include sm {
        display: none;
      }
    }
  }
}