@use "../presets" as *;
@use "../mixins" as *;


.accordion {
  position: relative;
  background-color: #F6F1F7;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 34px;
  padding-right: 10px;
  padding-left: 50px;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid $color-black;
  outline: none;
  font-weight: $font-weight-400;
  font-size: $font-size-18;
  line-height: 22px;
  color: $color-black;

  @include ul {
    font-size: $font-size-14;
    line-height: 17px;
    padding-top: 10px;

    padding-bottom: 30px;

  }

  @media (max-width:851px) {
    padding-bottom: 24px;
  }

  &--alt {
    background: #EAE3EB;

    @include ul {
      font-size: $font-size-18;
      line-height: 22px;

    }

    @include xl {
      font-size: $font-size-16;
      line-height: 19px;
    }

    @include xs {
      font-size: $font-size-12;
      line-height: 15px;
    }
  }

}

.active,
.accordion:hover {
  // background-color: #ccc;
}


.panel {

  padding-left: 14px;
  background-color: #F6F1F7;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s ease 0s;

  &--alt {
    background: #EAE3EB;
  }
}

.accordion {

  &:after {
    position: absolute;
    content: '';
    left: 15px;
    right: 0;
    bottom: 0;
    top: 18px;
    background-image: url(../img/faq-icon+.svg);
    background-repeat: no-repeat;

    @include ul {
      top: 13px;
    }
  }

  &.active:after {
    position: absolute;
    content: '';
    left: 15px;
    right: 0;
    bottom: 0;
    top: 24px;
    background-image: url(../img/faq-icon-.svg);
    background-repeat: no-repeat;

    @include ul {
      top: 19px;
    }
  }
}



.faq {
  background: #F6F1F7;

  &--alt {
    margin-top: 20px;
    padding-bottom: 60px;



    @include xl {
      margin-top: 10px;
      padding-bottom: 40px;

    }

    @include md {
      padding-bottom: 20px;
    }

    @include xs {
      margin-top: 6px;
    }
  }

  &__wrap {
    display: flex;
    gap: 236px;
    padding-top: 36px;
    padding-bottom: 10px;

    @include ul {
      padding-top: 52px;
      padding-bottom: 14px;
      gap: 114px;
    }

    @media (max-width:1380px) {
      gap: 50px;
      justify-content: space-between;
    }

    @include xl {
      gap: 40px;
      padding-top: 38px;
      padding-bottom: 18px;

    }

    @media (max-width:850px) {
      flex-direction: column;
      gap: 32px;
      padding-bottom: 0;

    }

    @include xs {
      gap: 22px;
      padding-bottom: 0;
    }

    &--alt {
      background: #EAE3EB;
      border-radius: 45px;
      flex-direction: column;
      gap: 0;

      @include ul {

        padding-top: 40px;
        padding-bottom: 0;

      }

      @include xl {
        border-radius: 34px;
        padding-bottom: 0px;
      }

      @include md {
        border-radius: 18px;
        padding-top: 20px;
      }

      @include xs {
        border-radius: 14px;
      }
    }
  }

  &__title-alt {
    font-weight: $font-weight-400;
    font-size: $font-size-40;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 50px 0 40px 0;

    @include xl {
      font-size: $font-size-24;
      padding: 40px 0 20px 0;
    }

    @include md {
      font-size: $font-size-20;
      padding: 20px 0;
    }

    @include xs {
      font-size: $font-size-16;
    }
  }

  &__ask {
    max-width: 460px;

    @include ul-min {
      margin-left: 40px;

    }

    @include ul {
      max-width: 410px;
    }

    @media (max-width:1320px) and (min-width: 851px) {
      width: 200px;

    }

    &--alt {
      max-width: 100%;
      padding: 10px 50px 20px 50px;

      @include ul-min {
        margin-left: 0px;

      }

      @include ul {
        max-width: 100%;
        padding: 10px 50px 6px 50px;
      }

      @media (max-width:1320px) and (min-width: 851px) {
        width: 100%;

      }

      @include md {
        padding: 0 20px 0px 20px;
      }

      @include xs {
        padding: 0 10px;
      }
    }

  }

  &__ask-title {
    font-weight: $font-weight-400;
    font-size: $font-size-54;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    padding-top: 240px;
    margin-bottom: 20px;

    @include ul {
      padding-top: 154px;
    }

    @media (max-width:1320px) {
      font-size: $font-size-24;

    }

    @include xl {
      padding-top: 42px;
    }

    @media (max-width:851px) {
      padding-top: 0;
    }

    @include xs {
      font-size: $font-size-20;
    }
  }

}

.question {


  @include ul-min {
    max-width: 630px;
  }

  @include ul {
    max-width: 672px;
  }

  @include xl {
    max-width: 650px;
  }

  @media (max-width:945px) {
    max-width: 550px;
  }

  @media (max-width:851px) {
    max-width: 100%;
  }

  &--alt {
    @include ul-min {
      max-width: 100%;
    }

    @include ul {
      max-width: 100%;
    }

    @include xl {
      max-width: 100%;
    }

    @media (max-width:945px) {
      max-width: 100%;
    }


  }


  &__desc {
    font-weight: $font-weight-400;
    font-size: $font-size-18;
    line-height: 150%;
    color: $color-black;
    padding-bottom: 40px;

    @include ul {
      font-size: $font-size-14;
      line-height: 150%;
      padding-bottom: 32px;
    }

    @media (max-width:851px) {
      padding-bottom: 28px;
    }

    &--alt {
      @include ul {
        font-size: $font-size-18;
        line-height: 22px;

      }

      @include xl {
        font-size: $font-size-16;
      }

      @include xs {
        font-size: $font-size-12;
        line-height: 15px;
        padding-bottom: 20px;
      }
    }
  }

}