@use "../presets" as *;
@use "../mixins" as *;


.accordion {
  position: relative;

  width: 100%;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 34px;
  padding-left: 50px;

  cursor: pointer;
  text-align: left;

  color: $color-black;
  border: none;
  border-top: 1px solid $color-black;
  outline: none;
  background-color: #f6f1f7;

  font-size: $font-size-18;
  font-weight: $font-weight-400;
  line-height: 22px;

  @include ul {
    padding-top: 10px;
    padding-bottom: 30px;

    font-size: $font-size-14;
    line-height: 17px;
  }

  @media (max-width:851px) {
    padding-bottom: 24px;
  }

  &--alt {
    background: #eae3eb;

    @include ul {
      font-size: $font-size-18;
      line-height: 22px;
    }
    @include xl {
      font-size: $font-size-16;
      line-height: 19px;
    }
    @include xs {
      font-size: $font-size-12;
      line-height: 15px;
    }
  }

  &:after {
    position: absolute;
    top: 18px;
    right: 0;
    bottom: 0;
    left: 15px;

    content: "";

    background-image: url(../img/faq-icon+.svg);
    background-repeat: no-repeat;

    @include ul {
      top: 13px;
    }
  }

  &.active:after {
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 0;
    left: 15px;

    content: "";

    background-image: url(../img/faq-icon-.svg);
    background-repeat: no-repeat;

    @include ul {
      top: 19px;
    }
  }
}

.active,
.accordion:hover {
  // background-color: #ccc;
}


.panel {
  overflow: hidden;

  max-height: 0;
  padding-left: 14px;

  transition: all 0.6s ease 0s;

  background-color: #f6f1f7;

  &--alt {
    background: #eae3eb;
  }
}

.faq {
  background: #f6f1f7;

  &--alt {
    margin-top: 20px;
    padding-bottom: 60px;

    @include xl {
      margin-top: 10px;
      padding-bottom: 40px;
    }
    @include md {
      padding-bottom: 20px;
    }
    @include xs {
      margin-top: 6px;
    }
  }

  &__wrap {
    display: flex;

    padding-top: 36px;
    padding-bottom: 10px;

    gap: 236px;
    @include ul {
      padding-top: 52px;
      padding-bottom: 14px;

      gap: 114px;
    }
    @include xl {
      padding-top: 38px;
      padding-bottom: 18px;

      gap: 40px;
    }
    @include xs {
      padding-bottom: 0;

      gap: 22px;
    }

    @media (max-width:1380px) {
      justify-content: space-between;

      gap: 50px;
    }

    @media (max-width:850px) {
      flex-direction: column;

      padding-bottom: 0;

      gap: 32px;
    }

    &--alt {
      flex-direction: column;

      border-radius: 45px;
      background: #eae3eb;

      gap: 0;
      @include ul {
        padding-top: 40px;
        padding-bottom: 0;
      }
      @include xl {
        padding-bottom: 0;

        border-radius: 34px;
      }
      @include md {
        padding-top: 20px;

        border-radius: 18px;
      }
      @include xs {
        border-radius: 14px;
      }
    }
  }

  &__title-alt {
    padding: 50px 0 40px 0;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    font-size: $font-size-40;
    font-weight: $font-weight-400;
    line-height: 120%;

    @include xl {
      padding: 40px 0 20px 0;

      font-size: $font-size-24;
    }
    @include md {
      padding: 20px 0;

      font-size: $font-size-20;
    }
    @include xs {
      font-size: $font-size-16;
    }
  }

  &__ask {
    max-width: 460px;

    @include ul-min {
      margin-left: 40px;
    }
    @include ul {
      max-width: 410px;
    }

    @media (max-width:1320px) and (min-width: 851px) {
      width: 200px;
    }

    &--alt {
      max-width: 100%;
      padding: 10px 50px 20px 50px;

      @include ul-min {
        margin-left: 0;
      }
      @include ul {
        max-width: 100%;
        padding: 10px 50px 6px 50px;
      }
      @include md {
        padding: 0 20px 0 20px;
      }
      @include xs {
        padding: 0 10px;
      }

      @media (max-width:1320px) and (min-width: 851px) {
        width: 100%;
      }
    }
  }

  &__ask-title {
    margin-bottom: 20px;
    padding-top: 240px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    font-size: $font-size-54;
    font-weight: $font-weight-400;
    line-height: 120%;

    @include ul {
      padding-top: 154px;
    }
    @include xl {
      padding-top: 42px;
    }
    @include xs {
      font-size: $font-size-20;
    }

    @media (max-width:1320px) {
      font-size: $font-size-24;
    }

    @media (max-width:851px) {
      padding-top: 0;
    }
  }
}

.question {
  @include ul-min {
    max-width: 630px;
  }
  @include ul {
    max-width: 672px;
  }
  @include xl {
    max-width: 650px;
  }

  @media (max-width:945px) {
    max-width: 550px;
  }

  @media (max-width:851px) {
    max-width: 100%;
  }

  &--alt {
    @include ul-min {
      max-width: 100%;
    }
    @include ul {
      max-width: 100%;
    }
    @include xl {
      max-width: 100%;
    }

    @media (max-width:945px) {
      max-width: 100%;
    }
  }


  &__desc {
    padding-bottom: 40px;

    color: $color-black;

    font-size: $font-size-18;
    font-weight: $font-weight-400;
    line-height: 150%;

    @include ul {
      padding-bottom: 32px;

      font-size: $font-size-14;
      line-height: 150%;
    }

    @media (max-width:851px) {
      padding-bottom: 28px;
    }

    &--alt {
      @include ul {
        font-size: $font-size-18;
        line-height: 22px;
      }
      @include xl {
        font-size: $font-size-16;
      }
      @include xs {
        padding-bottom: 20px;

        font-size: $font-size-12;
        line-height: 15px;
      }
    }
  }
}
