@use "../presets" as *;
@use "../mixins" as *;

.text {

  &__inner {

    background: #F6F1F7;
    margin-top: 20px;
    padding-bottom: 60px;


    @include xl {
      margin-top: 10px;
      padding-bottom: 40px;
    }

    @include md {
      margin-top: 16px;
      padding-bottom: 20px;

    }

    @include xs {
      margin-top: 8px;
      padding-bottom: 10px;
    }
  }

  &__wrap {

    span {
      font-weight: $font-weight-400;
      font-size: $font-size-16;
      line-height: 150%;

      @include xl {
        font-size: $font-size-14;
      }

      @include md {
        font-size: $font-size-12;
      }


    }

    background: #EAE3EB;
    border-radius: 45px;
    padding: 60px 50px 26px 50px;

    @include xl {

      padding: 56px 40px 16px 40px;
      border-radius: 34px;
    }

    @include md {
      padding: 20px 20px 2px 20px;
      border-radius: 18px;

    }

    @include xs {
      padding: 20px 10px 10px 10px;
    }
  }

  &__title {
    font-weight: $font-weight-400;
    font-size: $font-size-40;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $color-black;
    padding: 52px 0 44px 0;
    text-align: center;

    @include xl {
      font-size: $font-size-24;
      line-height: 120%;
      padding: 38px 0 20px 0;
    }

    @include md {
      font-size: $font-size-20;
      padding: 20px 0 14px 0;
    }

    @include xs {
      padding: 20px 0;
    }
  }

  &__title-text {
    font-weight: $font-weight-700;
    font-size: $font-size-24;
    line-height: 120%;
    margin-bottom: 24px;

    @include xl {
      font-size: $font-size-20;
    }

    @include md {
      font-size: $font-size-16;
      padding-top: 0px;
      margin-bottom: 16px;
    }

    @include xs {
      margin-bottom: 16px;
      font-size: 14px;
    }

    &--alt {
      padding-top: 14px;

      @include md {
        padding-top: 6px;
      }
    }
  }

  &__list {
    margin-bottom: 10px;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: 150%;

    @include xl {
      font-size: $font-size-14;
    }

    @include md {
      font-size: $font-size-12;
    }

  }

  &__desc {
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: 150%;
    margin-bottom: 26px;

    @include xl {
      font-size: $font-size-14;
      margin-bottom: 20px;
    }

    @include md {
      margin-bottom: 18px;
      font-size: $font-size-12;
    }

  }
}