@use "../presets" as *;
@use "../mixins" as *;

.banner {
  &__text-box {
    padding-top: 206px;

    @include ul {
      padding-top: 184px;
    }
    @include xl {
      padding-top: 94px;
    }
    @include md {
      padding-top: 70px;
    }
    @include sm {
      padding-top: 46px;
    }
  }


  &__title {
    margin-bottom: 24px;

    letter-spacing: 0.05em;

    font-size: $font-size-74;
    font-weight: $font-weight-400;
    line-height: 120%;

    @include ul {
      max-width: 600px;

      font-size: $font-size-54;
      line-height: 120%;
    }
    @include xl {
      max-width: 402px;

      font-size: $font-size-40;
      line-height: 120%;
    }
    @include md {
      max-width: 360px;

      font-size: $font-size-32;
      line-height: 120%;
    }
    @include sm {
      max-width: 270px;
      margin-right: auto;
      margin-left: auto;

      text-align: center;

      font-size: $font-size-24;
      line-height: 120%;
    }
    @include xx {
      margin-bottom: 14px;
    }
  }

  &__button {
    @include sm {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__foto-box {
    position: relative;

    padding-top: 40px;
    padding-right: 50px;

    @include ul {
      padding-top: 128px;
      padding-right: 10px;
    }
    @include xl {
      padding-top: 50px;
    }
    @include md {
      margin-right: -84px;
      padding-right: 0;
    }
  }

  &__decor-header {
    position: absolute;
    z-index: -1;
    top: -380px;
    right: -200px;

    width: 1060px;
    height: 1060px;

    border-width: 3px;
    border-color: $color-main;
    border-radius: 50%;
    background: $color-main;

    @include ul {
      top: -242px;
      right: -160px;

      width: 745px;
      height: 745px;
    }
    @include xl {
      top: -360px;
      right: -330px;
    }
    @include md {
      top: -108px;
      right: 0;

      width: 352px;
      height: 352px;
    }
    @include sm {
      top: -270px;
      right: -320px;
    }
  }

  &__foto {
    @include ul {
      max-width: 616px;
    }
    @include xl {
      max-width: 426px;
    }
    @include md {
      max-width: 300px;
    }
    @include sm {
      display: none;
    }
  }
}
