@use "../presets" as *;
@use "../mixins" as *;

.header {

  &__wrap {
    display: flex;
    gap: $gap-lg;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;

    @include xx {
      gap: 0;
    }

  }

  &__navbar-box {
    display: flex;
    gap: 58px;

    @include ul {
      gap: 38px;

    }
  }

  &__logo-box {}

  &__logo {
    max-height: 44px;

    @include md {
      max-height: 33px;
    }

    @include xx {
      max-height: 26px;

    }
  }
}