@use "../presets" as *;
@use "../mixins" as *;

.header {
  position: relative;
  overflow-x: hidden;

  @include md-min {
    // min-height: 750px;

  }

  &__wrap {
    position: relative;
    z-index: 1;
    display: flex;
    gap: $gap-lg;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;

    @include ul {
      padding-top: 15px;

    }

    @include xl {
      padding-top: 10px;
    }

    @include xx {
      gap: 0;
    }

  }

  &__navbar-box {
    display: flex;
    gap: 58px;

    @include ul {
      gap: 38px;

    }
  }

  &__logo {
    max-height: 44px;

    @include md {
      max-height: 33px;
    }

    @include xx {
      max-height: 25px;

    }
  }

  &__banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 212px;

    @include ul {
      margin-bottom: 74px;
    }

    @include xl {
      margin-bottom: 140px;
    }

    @include md {
      margin-bottom: 68px;
    }

    @include sm {
      flex-direction: column;
      align-items: center;
      margin-bottom: 4px;
    }
  }

  &__sale {
    margin-bottom: 64px;

    @include ul {
      margin-bottom: 40px;
    }

    @include xl {
      margin-bottom: 60px;
    }

    @include md {
      margin-bottom: 40px;
    }
  }
}