@use "../presets" as *;
@use "../mixins" as *;

.navbar {


  @include xl {
    // transition: left 0.3 ease 0s;


  }

  &__list {


    @include unlist;



    @include ul {
      gap: 15px;
    }

    @include xl-min {
      display: flex;
      gap: $gap;
    }

    @include xl {
      // display: none;
    }

    @include xl {

      @include xx {}
    }

    &.active {
      @include xl {
        // display: flex;
        // flex-direction: column;
        // gap: $gap-sm;
        // right: -5%;
        // transition: left 0.3s ease 0s;

      }
    }
  }

  &__item {}

  &__link {
    display: block;
    padding: 15px;
    font-weight: $font-weight-500;
    font-size: $font-size-14;
    line-height: 17px;

    text-transform: capitalize;

    color: #171717;

    @include xl-min {
      text-align: center;

    }

    @include xl {
      color: white;
    }
  }
}

.navbar__burger {
  position: relative;

  width: 20px;
  height: 30px;
  top: 8px;
  cursor: pointer;

  @include xl-min {
    display: none;
  }

  span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 6%;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    background-color: $color-black;

    @include xs {
      height: 6%;
    }

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 6px;

      @include xs {
        top: 6px;
      }
    }

    &:nth-of-type(3) {
      top: 12px;

      @include xs {
        top: 12px;
      }
    }
  }

  &.active {
    right: 0;
    top: 10px;
  }

  &.active span {

    z-index: 10;


    &:nth-of-type(1) {
      top: 6px;

      transform: rotate(135deg);
    }

    &:nth-of-type(2) {
      left: -40px;

      opacity: 0;
    }

    &:nth-of-type(3) {
      top: 6px;

      transform: rotate(-135deg);
    }
  }
}


.menu__list {

  @include xl {}
}

.menu__body {

  @include xl {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease 0s;
    transform: translate(100%, 0);

    &.active {
      transform: translate(0, 0);

    }
  }
}