@use "../presets" as *;
@use "../mixins" as *;

.footer {
  overflow-x: hidden;

  background: $color-black;

  @include ul-min {
    padding: 0 40px;
  }

  &__title {
    padding-top: 60px;
    padding-bottom: 66px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $color-white;

    font-size: $font-size-54;
    font-weight: $font-weight-400;
    line-height: 120%;

    @include ul {
      padding-bottom: 60px;
    }
    @include xl {
      padding-top: 50px;
      padding-bottom: 56px;

      font-size: $font-size-36;
    }
    @include sm {
      padding-top: 34px;
      padding-bottom: 40px;

      text-align: center;

      font-size: $font-size-20;
    }

    @media (max-width:900px) {
      padding-top: 30px;
      padding-bottom: 50px;

      font-size: $font-size-24;
    }
  }

  &__wrap {
    position: relative;


    &:after {
      position: absolute;
      top: -550px;
      left: 650px;

      width: 727px;
      height: 727px;

      content: "";

      opacity: 0.1;
      border-radius: 350px;
      background: #f185fb;

      filter: blur(75px);
      @include ul {
        left: 700px;
      }
      @include xl {
        left: 400px;
      }

      @media (max-width:900px) {
        display: none;
      }
    }
  }


  &__copyright-box {
    padding: 86px 0 24px 0;

    @include xl {
      padding: 46px 0 34px 0;
    }
    @include sm {
      padding-top: 40px;
    }

    @media (max-width:900px) {
      padding-bottom: 26px;
    }
  }
}
