@use "../presets" as *;
@use "../mixins" as *;

.footer {
  background: #000917; //TODO проверить по сайту цвет черный
  overflow-x: hidden;

  @include ul-min {
    padding: 0 40px;

  }

  &__title {
    font-weight: $font-weight-400;
    font-size: $font-size-54;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-white;
    padding-top: 60px;
    padding-bottom: 66px;

    @include ul {
      padding-bottom: 60px;

    }

    @include xl {
      font-size: $font-size-36;
      padding-top: 50px;
      padding-bottom: 56px;


    }

    @media (max-width:900px) {
      font-size: $font-size-24;
      padding-top: 30px;
      padding-bottom: 50px;

    }

    @include sm {
      text-align: center;
      font-size: $font-size-20;
      padding-top: 34px;
      padding-bottom: 40px;
    }

  }

  &__wrap {
    position: relative;


    &:after {
      position: absolute;
      content: "";
      width: 727px;
      height: 727px;
      left: 650px;
      top: -550px;
      border-radius: 350px;
      background: #F185FB;
      opacity: 0.1;
      filter: blur(75px);

      @include ul {
        left: 700px;
      }

      @include xl {
        left: 400px;

      }

      @media (max-width:900px) {
        display: none;
      }


    }

  }


  &__copyright-box {
    padding: 86px 0 24px 0;

    @include xl {
      padding: 46px 0 34px 0;
    }

    @media (max-width:900px) {
      padding-bottom: 26px;
    }

    @include sm {
      padding-top: 40px;
    }
  }

}