@use "../presets" as *;
@use "../mixins" as *;

.layout {
  &__large {
    width: min(100% - 200px, 1720px);

    margin-inline: auto;


    @include xl {
      width: min(100% - 80px, 1720px);

    }

    @include md {
      width: min(100% - 40px, 1720px);

    }

    @include xx {
      width: min(100% - 20px, 1720px);

    }
  }

  &__main {
    width: min(100% - 40px, 1290px);

    margin-inline: auto;

  }
}