@use "../presets" as *;
@use "../mixins" as *;

.layout {
  &__large {
    width: min(100% - 40px, 1720px);

    margin-inline: auto;
  }

  &__main {
    width: min(100% - 40px, 1290px);

    margin-inline: auto;
  }
}