@use "../presets" as *;
@use "../mixins" as *;

.layout {
  &__layout-large {
    width: min(100% - 40px, 1720px);

    margin-inline: auto;
  }

  &__layout-main {
    width: min(100% - 40px, 1720px);

    margin-inline: auto;
  }
}
